@import "~taro-ui/dist/style/components/message.scss";
@import "~taro-ui/dist/style/components/button.scss";
@import "~taro-ui/dist/style/components/loading.scss";

.demo-text-1 {
  background: #cacaca;
  height: 100%;
}

.demo-text-2 {
  background: #00ff55;
  height: 100%;
}

.demo-text-3 {
  background: #009ccc;
  height: 100%;
}
